.snackbar{
    position: fixed;
    transition: top 400ms ease 0s,
                bottom 400ms ease 0s,
                margin-top 300ms ease 0s,
                margin-bottom 300ms ease 0s,
                opacity 150ms ease 150ms;
    > .container{
        box-sizing: border-box;
        *{box-sizing: border-box;}
        max-width: 450px;
        min-height: 46px;
        padding: 10px 22px;
        border-radius: 3px;
        background-color: rgb(58,58,58);
        font-size: 0.87rem;
        box-shadow: 0 1px 5px rgb(184,184,184);
        display: flex;
        color: rgb(250,250,250);
        align-items: center;
        gap: 20px;
        > #massage{
            line-height: 22px;
        }
        > .actionButton{
            height: 100%;
            background-color: transparent;
            padding: 10px 3px;
            color: #F7FF00;
            border:none;
            outline:none;
            cursor: pointer;
            display: none;
        }
    }
}

//positioning:
.snackbar.bottom-left{
    left: 24px;
    bottom: -60px;
}
.snackbar.bottom-center{
    left: 50%;
    bottom: -60px;
    transform: translate(-50%, 0);
}
.snackbar.bottom-right{
    right: 24px;
    bottom: -60px;
}
.snackbar.top-left{
    left: 24px;
    top: -60px;
}
.snackbar.top-center{
    left: 50%;
    top: -60px;
    transform: translate(-50%, 0);
}
.snackbar.top-right{
    right: 24px;
    top: -60px;
}

//responsive design:
@media only screen and (max-width: 500px){
    .snackbar{
        max-width: calc(90% - 12px);
    }
}